.cards{
   padding: 0 10%;
   color: white;

   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(clamp(100px, 30vw, 200px), 1fr));
   gap: 40px;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* -- image cont --*/
    & > div:first-child {
        background-color: #E23636;
        border-radius: 3px;

        /* -- image --*/
        & > div:first-child {
            
            & > a> img {
                width: 100%;
                border-radius: 3px;
            }
            
            &:hover{
                transform: translate(-10px, -10px);
            }
        }
    }
}